/******         BODY        ******/
body{
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    color: #594A47;
}
/******         HEADER      ******/
.navbar, .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 .navbar li{
    list-style-type: none;
 }
 .navbar a,
 .bi-basket{
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    color: #594A47;
    text-decoration: none;
    margin:auto 20px auto 20px;
 }
 .navbar li:not(:last-child):hover{
     border: 2px solid #594A47;
     border-radius: 15px 5px;
 }
/******         FOOTER      ******/

.footer div{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.footer div a,
.footer div p{
    text-decoration: none;
    color: #594A47;
    margin:auto 10px auto 10px;
    font-size: 25px;
}
/******         HOME BANNER     ******/
h1{
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
}
.home_banner{
    background-image: url("../src/img/home_banner.jpg");
    height: 600px;
    background-position: bottom;
    background-size: cover;
}
.home_banner>div{
    width: 50%;
    padding-top: 5%;
}
.home_banner p,
.home_banner h1{
    padding-left: 20px;
    text-align: center;
}
.home_banner p:nth-child(2){
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    color: #ECDEC4;
}
.home_banner p:nth-child(3),
h1{
    color: #fff;
}
.button{
    text-align: center;
}
.button a{
    display:inline-block;
    background-color:#fff;
    border: 2px solid #ECDEC4;
    color:#594A47;
    border-radius:15px 5px;
    padding:0.5em;
    margin-top: 1em;
    text-decoration:none;
}
/******         HOME ARTICLE     ******/
.article,
.contact{
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: 10em auto 10em auto;
}
h2{
    margin-bottom: 2em;
}
.article div:nth-child(1){
    width: 50%;
}
.pastry{
    flex-direction: row-reverse;
}
.right{
    text-align: end;
}
.left{
    text-align: start;
}
.article .img_right{
    box-shadow: 12px -12px 1px 1px 	#ECDEC9;
}
.article .img_left{
    box-shadow: -12px 12px 1px 1px #ECDEC9;
}
.contact{
    position: relative;
    padding-top: 10em;
}
.contact p{
    width: 50%;
}
.contact .button a{
    z-index: 2;
    position: absolute;
    left: 1134px;
}
.contact .button::after{
    content: '';
    position: absolute;
    height: 0;
    top: -107px;
    left: 998px;
    border-top: 350px solid transparent;
    border-right: 706px solid #ECDEC9;
    border-bottom: 350px solid transparent;
    z-index: 1;
}
.reviews div{
    text-align: center;
}
.reviews div p{
    margin-right: 1.5em;
    margin-left: 1.5em;
    font-style: italic;
}
.reviews div p::before{
    content: '“';
    font-size: 1.6em;
}
.reviews div p::after{
    content: '”';
    font-size: 1.5em;
}
.slick-next:before,
.slick-prev:before{
    font-size: 30px;
    color: #ECDEC9;
}
.slick-slide{
    height: auto;
}

/******     BAKERY BANNER   /   PASTRY BANNER   /   PASTRYCLASS    /  CONTACT  ******/
.banner{
    display: flex;
    justify-content: space-between;
    align-content: center;
    text-align: center;
    margin: 10em auto 3em auto;
}
.banner{
    justify-content: center;
}
.pastry_banner{
    flex-direction: row-reverse;
}
.article2{
    text-align: center;
}
h3{
    font-size: 30px;
    font-family: 'Dancing Script', cursive;
    margin-top: 5em;
}
.banner .bloc{
    width: 90%;
}
.banner img{
    box-shadow: 12px -12px 1px 1px #ECDEC9;
}
.pastry_banner img{
    box-shadow: -12px -12px 1px 1px #ECDEC9;
    margin-right: 5em;
}
.cards{
    display: flex;
    justify-content: space-between;
    margin-top: 5em;
}
.card{
    border: 1px solid black;
    width: 30%;
    text-align: center;
}
.card .button{
    margin-bottom: 1.5em;
}
.gallery{
    margin-top: 5em;
    text-align: center;
}
.gallery img {
    width: 20%;
}
/****** CONTACTUS   *****/
form div{
    display: flex;
    flex-direction: column;
    padding: 1em;
}
.address,
form{
    width: 45%;
    margin: auto;
}
form label{
    font-family: 'Dancing Script', cursive;
}
form label{
    font-size: 1.4em;
    padding-bottom: 0.2em;
}
form input,
form select{
    font-size: 1em;
}
textarea{
    min-height: 8em;
}
button{
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    background-color: #ECDEC9;
    border: 1px solid #594A47;
    color:#594A47;
    border-radius:15px 5px;
    padding:0.8em;
    text-align: center;
    font-weight: bold;
}
.contactUs {
    width: 70%;
    display: flex;
    border: 1px solid black;
    padding: 3em;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
    position: relative;
}

.address a{
    text-decoration: none;
    color: #594A47;
}
iframe{
    border: 0;
    padding-top: 1em;
    width: 400px;
    height: 250px;
}
.address img{
    position: absolute;
    top: 36em;
    left: 47em;
}