/******         BODY        ******/
body{
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    color: #594A47;
}
/******         HEADER      ******/
.navbar, .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 .navbar li{
    list-style-type: none;
 }
 .navbar a,
 .bi-basket{
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    color: #594A47;
    text-decoration: none;
    margin:auto 20px auto 20px;
 }
 .navbar li:not(:last-child):hover{
     border: 2px solid #594A47;
     border-radius: 15px 5px;
 }
/******         FOOTER      ******/

.footer div{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.footer div a,
.footer div p{
    text-decoration: none;
    color: #594A47;
    margin:auto 10px auto 10px;
    font-size: 25px;
}
/******         HOME BANNER     ******/
h1{
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
}
.home_banner{
    background-image: url("../src/img/home_banner.jpg");
    height: 600px;
    background-position: bottom;
    background-size: cover;
}
.home_banner>div{
    width: 50%;
    padding-top: 5%;
}
.home_banner p,
.home_banner h1{
    padding-left: 20px;
    text-align: center;
}
.home_banner p:nth-child(2){
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    color: #ECDEC4;
}
.home_banner p:nth-child(3),
h1{
    color: #fff;
}
.button{
    text-align: center;
}
.button a{
    display:inline-block;
    background-color:#fff;
    border: 1px solid #ECDEC4;
    color:#594A47;
    border-radius:15px 5px;
    padding:0.5em;
    margin-top: 1em;
    text-decoration:none;
}
/******         HOME ARTICLE     ******/
.article{
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: 10em auto 10em auto;
}
h2{
    margin-bottom: 2em;
}
.article div:nth-child(1){
    width: 50%;
}
.patisserie{
    flex-direction: row-reverse;
}
.right{
    text-align: end;
}
.left{
    text-align: start;
}
.article .img_right{
    box-shadow: 12px -12px 1px 1px 	#ECDEC9;
}
.article .img_left{
    box-shadow: -12px 12px 1px 1px #ECDEC9;
}